<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="container">
                <form method="post" th:object="${club}" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="title">Title</label>
                            <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Enter club title">
                            <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="photoUrl">Photo Url</label>
                            <input th:field="*{photoUrl}" type="text" class="form-control" id="photoUrl" placeholder="Enter club photo url">
                            <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="content">Content</label>
                        <input th:field="*{content}" type="text" class="form-control" id="content" placeholder="Enter club content">
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                    </div>

                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </section>
</main>

</body>
</html>